.main-wrapper {
  display: flex;
  justify-content: space-around;
}

.recent-scores {
  width: 30%;
}

.title-button {
  display: flex;
  justify-content: space-between;
}

.refresh-button {
  height: 100%;
  align-self: center;
}

.add-score {
  width: 30%;
}

.scores {
  border: 1px solid black;
  margin: 0;
}

.scores li {
  padding: 2%;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-button {
  width: 30%;
  align-self: flex-end;
}